@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
}

:root {
  --laranja1: hsl(26, 100%, 55%);
  --laranja2: hsl(25, 100%, 94%);
  --azulmuitoescuro: hsl(220, 13%, 13%);
  --azulmuitoacinzentado: hsl(219, 9%, 45%);
  --azulacinzentado: hsl(220, 14%, 75%);
  --azulacinzentado: hsl(223, 64%, 98%);
  --Black: hsl(0, 0%, 0%);
}

.container {
  max-width: 375px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.padding_mobile {
  padding: 0 1rem;
}

body {
  height: auto;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.hidden {
  display: none;
}

/* !  Header -------------------------------------------------------- */
header {
  display: flex;
  justify-content: space-between;
  height: 75px;
  position: relative;
}

.bar {
  width: 20px;
  height: 2px;
  background-color: var(--azulmuitoacinzentado);
  border: 0.5px solid var(--azulmuitoacinzentado);
}

.bar + .bar {
  margin-top: 4px;
}

.left_side,
.right_side {
  display: flex;
}

.left_side {
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

#logo {
  height: 20px;
  margin-left: 1rem;
}

/* Right side ---- */
.right_side {
  display: flex;
  align-items: center;
  position: relative;
}

#cart_icon {
  height: 20px;
  margin-right: 1rem;
  transition: all 0.5s;
}

.client_photo {
  width: 30px;
  transition: all 0.5s;
}

.client_photo:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.client_photo:active {
  transform: scale(1);
}

#cart_icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#cart_icon:active {
  transform: scale(1);
}

.lixo {
  transition: all 0.5;
}

.lixo:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.lixo:active {
  transform: scale(1);
}

/*! Cart modal ------------------------------------------------------ */

.cart_modal {
  position: absolute;
  width: 95%;
  height: 250px;
  background-color: rgb(255, 255, 255);
  bottom: -255px;
  left: 10px;
  border-radius: 10px;
  z-index: 2;
  box-shadow: 5px 7px 10px 4px rgba(0, 0, 0, 0.096);
  transition: all 2s;
}

.cart_modal .title {
  font-weight: 700;
  padding: 1.5rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.258);
}

.first_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  margin-top: 1.5rem;
}

.product_img-cart {
  width: 64px;
  border-radius: 5px;
}

.checkout_button {
  width: 90%;
  margin: 20px auto 0 15px;
}

.checkout_button:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 7px 13px 13px 6px var(--laranja2);
}

.checkout_button:active {
  box-shadow: 1px 2px 2px 1px var(--laranja2);
  transform: scale(1);
}

/* todo number of items in cart --------------------------------------*/

.number_in_cart {
  position: absolute;
  background-color: rgba(255, 166, 0, 0.799);
  right: 35px;
  bottom: 40px;
  padding: 0.1rem 0.3rem;
  border-radius: 50%;
  font-size: 0.8rem;
}

/* ! Images__container ---------------------------------------------- */
.imagem_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big_image {
  background-image: url('./images/image-product-1.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 375px;
  border-radius: 10px;
}

.right_arrow {
  position: absolute;
  top: 45%;
  right: 10px;
  background-color: white;
  padding: 0.8rem;
  border-radius: 50%;
}

.left_arrow {
  position: absolute;
  top: 45%;
  left: 10px;
  background-color: white;
  padding: 0.8rem;
  border-radius: 50%;
}

/* ! Main ---------------------------------------------------------- */

main {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

h2 {
  color: var(--laranja1);
  font-size: 0.8rem;
  padding: 1rem 0;
  opacity: 0.8;
}

h1 {
  font-size: 2rem;
  padding-bottom: 1rem;
  line-height: 1.8rem;
  font-weight: 700;
}

main p {
  color: var(--azulmuitoacinzentado);
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

/* ! Price Container ---------------------------------------------- */
.price_container {
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
}

.actual_price {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.new_price {
  font-size: 1.5rem;
}

.discount_tag {
  background-color: var(--laranja2);
  color: var(--laranja1);
  font-weight: 700;
  padding: 0.2rem 0.3rem;
}

.old_price {
  font-weight: 700;
  text-decoration: line-through;
  color: var(--azulmuitoacinzentado);
  opacity: 0.4;
}

/* ! Boxes container ----------------------------------------------- */

/* Boxes container  */
.boxes_container {
  padding: 0 1rem;
}

.number_products {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  background-color: var(--azulacinzentado);
  padding: 1rem;
  border-radius: 10px;
}

.number_products img {
  width: 15px;
  transition: all 0.5s;
}

.minus_icon:hover,
.plus_icon:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.minus_icon:active,
.plus_icon:active {
  transform: scale(1);
}

.number_products p {
  font-size: 1.2rem;
  font-weight: 700;
}

/* Add to cart */
button {
  width: 100%;
  padding: 0.8rem;
  border-radius: 10px;
  border: none;
  background-color: var(--laranja1);
  color: var(--laranja2);
  font-size: 1.1rem;
  font-weight: 700;
  box-shadow: 5px 10px 10px 3px var(--laranja2);
  transition: all 0.5s;
}

#add_cart:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 5px 15px 15px 3px;
}

#add_cart:active {
  transform: scale(1);
  box-shadow: 1px 2px 2px 1px;
}

button img {
  margin-right: 1rem;
}

/* ! Imagem selector ---------------------------------------------- */

.images_selector-container {
  display: none;
  max-width: 375px;
  justify-content: space-between;
  margin-top: 50px;
}

.card {
  width: 80px;
  height: 80px;
  background-size: contain;
  border-radius: 5px;
  transition: all 0.5s;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 5px 3px 4px rgba(0, 0, 0, 0.158);
}

.card:active {
  transform: scale(1);
  box-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.158);
}

.card.active {
  opacity: 0.3;
}

.modal_product {
  /* display: none; */
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.close_button {
  position: absolute;
  height: 50px;
  width: 50px;
  z-index: 3;
  font-weight: 700;
  font-size: 1.2rem;
  color: white;
  top: 5%;
  right: 30%;
}

/* ! List ------------------------------------------------------------ */

ul {
  display: none;
}

.hamburger_menu {
  position: relative;
}

.hamburger_menu:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.hamburguer_menu_hover {
  height: 110vh;
  width: 130vw;
  top: 0;
  left: -20px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.749);
  z-index: 2;
  transition: all 1s;
  display: none;
}

.menu_modal {
  width: 50%;
  max-width: 200px;
  height: 110vh;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 8;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  transition: all 1s;
  display: none;
  /* transform: translateX(250px); */
}

/* .menu_modal.active {
  transform: translateX(0);
} */

.lista_modal {
  margin-top: 5rem;
  display: block;
  list-style: none;
  padding-left: 2rem;
}

li {
  font-size: 1rem;
}

.close_modal_button {
  font-size: 1.5rem;
  font-weight: 700;
  position: absolute;
  left: 35px;
  top: 40px;
}

/* todo Media querie ------------------------------------------------- */

@media (min-width: 1000px) {
  .menu_modal {
    display: none;
  }

  .hamburguer_menu_hover {
    display: none;
  }

  .number_in_cart {
    bottom: 55px;
  }

  header {
    height: 100px;
    margin-bottom: 80px;
    border-bottom: 1px solid lightgray;
  }

  ul {
    display: flex;
    column-gap: 10px;
    list-style: none;
    margin-left: 40px;
  }

  li {
    color: var(--azulmuitoacinzentado);
    /* font-size: 1rem; */
  }

  li:hover {
    cursor: pointer;
    color: black;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: orange;
    text-underline-offset: 43px;
  }

  .hamburger_menu {
    display: none;
  }

  .images_selector-container {
    display: flex;
  }

  .container {
    max-width: 1200px;
  }

  .main_wrapper {
    display: flex;
    column-gap: 100px;
  }

  .details_wrapper {
    max-width: 470px;
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
  }

  .big_image {
    width: 375px;
  }

  .right_arrow,
  .left_arrow {
    display: none;
  }

  .boxes_container {
    display: flex;
    align-items: center;
    column-gap: 40px;
  }

  /* Ajustes container */
  h1 {
    margin-bottom: 2rem;
  }

  .number_products {
    max-width: 160px;
  }

  .cart_modal {
    max-width: 360px;
    bottom: -235px;
    left: 570px;
  }

  /* ! dando jeito no modal lazarento */

  .container_modal {
    width: 100%;
    height: 100vh;
    border: 1px solid lightcoral;
    background-color: rgba(0, 0, 0, 0.727);
    /* display: flex; */
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    transition: all 1s;
    display: none;
  }
  .cardx {
    width: 80px;
    height: 80px;
    background-size: contain;
    border-radius: 5px;
  }

  .cardx.active {
    opacity: 0.3;
    border: 2px solid orange;
  }

  .container_imagens_menores {
    display: flex;
    position: absolute;
    left: 37.4%;
    top: 70%;
    column-gap: 15px;
  }

  .imagem_grande {
    background-image: url('./images/image-product-1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 37%;
    top: 10%;
    width: 100%;
    height: 375px;
  }
}
